<nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Mister cocktail</a>
            <span id="banner-typed-text"></span>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a><%= link_to 'Create cocktail', new_cocktail_path %></a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="home">
    </section>
    <div style="height: 1000px">
