<div class="container">
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.order(:name), prompt: "Choose an ingredient" %>
  <%= f.submit "Submit dose", class: "btn btn-primary" %>
<% end %>
</div>
<div class="container text-center">
  <div class="small-container">

    <h1>Covid-19</h1>
    <div class="rating-container">
      <form novalidate="novalidate" class="simple_form new_star" id="new_star" action="/cocktails/72/stars" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="vd8lnBrVrm37rEgUVGrg1Dc80LMJGH8MGwlahI9xz+2d6hjEmxx7eMdQwoXES6pbsASQ5RKRzeWijFMzwQ+aOw==">
      <div class="row" ,="" style="display: inline-block;">
        <fieldset class="rating">
          <input type="radio" id="star5" name="star[number]" value="5"><label class="full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4" name="star[number]" value="4"><label class="full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3" name="star[number]" value="3"><label class="full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2" name="star[number]" value="2"><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1" name="star[number]" value="1"><label class="full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>
        <p>0 votes</p>
      </div>
      <div class="row">
        <input type="submit" name="commit" value="Rate" class="btn btn-primary btn-xs" data-disable-with="Rate">
      </div>
</form>
      <table>
        <tbody><tr>
          <th>Ingredients</th>
          <th>Doses</th>
          <td><a class="text-add" href="/cocktails/72/doses/new">
           <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a>         </td>
       </tr>
       <tr>
        <td>Applejack</td>
        <td>This sucks</td>
        <td><a class="text-delete" rel="nofollow" data-method="delete" href="/doses/130">
          <i class="fa fa-trash" aria-hidden="true"></i>
</a>        </td>
      </tr>
       <tr>
        <td>Gin</td>
        <td>9</td>
        <td><a class="text-delete" rel="nofollow" data-method="delete" href="/doses/143">
          <i class="fa fa-trash" aria-hidden="true"></i>
</a>        </td>
      </tr>
    </tbody></table>
    <img width="300" height="200" class="thumbnail photo" src="https://res.cloudinary.com/dpqnck1ln/image/upload/c_fill,h_200,w_300/v1587397428/kylibdccqqtezvbxm9dv.jpg" alt="Kylibdccqqtezvbxm9dv">
  </div>
</div>



</div>
